.page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.spot {
    height: 100%;
    max-width: 1105px;
    width: 75%;
    font-family: sans-serif;
}

.header {
    align-self: flex-start;
    margin: 0;
    padding-top: 35px;
}

.description-container {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.d1 {
    display: flex;
    align-items: center;
}

.spot-details-star {
    font-size: 22px;
    padding-bottom: 6px;
}

.image-container {
    align-self: flex-start;
    display: flex;
    height: 395px;
    width: 100%;
    gap: 5px;
}

.i1 {
    height: 390px;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.other-image-container {
    height: 390px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.i2 {
    height: 50%;
    width: 100%;
}

.i3 {
    height: 50%;
    width: 100%;
}

.i4 {
    height: 50%;
    width: 100%;
    border-top-right-radius: 20px;
}

.i5 {
    height: 50%;
    width: 100%;
    border-bottom-right-radius: 20px;
}

.bottom-container {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.spot-description-container {
    width: 50%
}

.spot-description {
    margin: 0;
}

.bookings {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 25%;
    padding: 0 5%;
}

.booking-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spot-details-d1 {
    padding-bottom: 4px;
}

.calculation {
    display: flex;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.b-p {
    margin: 5 0;
}

.total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.reviews-header {
    display: flex;
    flex-direction: column;
    gap: 35%;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

}

.spot-details-reviews-star {
    font-size: 20px;
}

.review-grid {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    column-gap: 1%;
    row-gap: 5px;
}

.review {
    width: 49%;
    overflow-wrap: break-word;
}

.review-user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 5px;
}

.profile {
    height: 32px;
    width: 32px;
}

.review-username {
    font-weight: bold;
    margin: 0;
    margin-bottom: 2px;
}

.review-time {
    color: grey;
    margin: 0;
    margin-top: 2px;
}
