.signup-form {
    height: 400px;
    width: 520px;
    font-family: sans-serif;
}


.signup-cancel {
    align-self: flex-start;
    padding-left: 5px;
    padding-top: 5px;
}

.signup-header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: center;
    gap: 38%;
    font-family: sans-serif;
}

.h1-signup {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

.h2-signup {
    font-size: 22px;
    align-items: center;
    margin-left: 5%;
    font-family: sans-serif;
}

.signup-form-inner-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SignUp-button {
    align-self: flex-start;
    border-radius: 10px;
    height: 13%;
    width: 90%;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.first-name {
    margin-top: 20px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 90%;
    border-bottom: none;
}

.last-name {
    border: 2px solid black;
    border-bottom: none;
    align-self: center;
    height: 30px;
    width: 90%;
}

.email {
    border: 2px solid black;
    border-bottom: none;
    align-self: center;
    height: 30px;
    width: 90%;
}

.username {
    border: 2px solid black;
    border-bottom: none;
    align-self: center;
    height: 30px;
    width: 90%;
}

.signup-password {
    border: 2px solid black;
    border-bottom: none;
    align-self: center;
    height: 30px;
    width: 90%;
}

.confirm-password {
    border: 2px solid black;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 90%;
}

.error-container {
    margin-top: 2%;
    width: 90%;
    margin-right: 9%;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}

.submit-button {
    align-self: center;
    border: none;
    margin-top: 7%;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: sans-serif;
}
