.signup-form {
    min-height: 450px;
    width: 520px;
    font-family: sans-serif;
}



.signup-header {
    display: flex;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    justify-content: flex-start;
    align-items: center;
    gap: 35%;
    font-family: sans-serif;
}

.signup-cancel {
    align-self: flex-start;
    margin-top: 13px;
    margin-left: 28px;
    cursor: pointer;
}

.h1-signup {
    font-size: 16px;
    margin: 0;
}

.h2-signup {
    font-size: 22px;
    align-items: center;
    margin-left: 5%;
    font-family: sans-serif;
}

.signup-form-inner-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.SignUp-button {
    align-self: flex-start;
    border-radius: 10px;
    height: 13%;
    width: 90%;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.first-name {
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    margin-top: 0px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 45px;
    width: 90%;
}

.last-name {
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    align-self: center;
    height: 45px;
    width: 90%;
}

.email {
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    align-self: center;
    height: 45px;
    width: 90%;
}

.username {
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    align-self: center;
    height: 45px;
    width: 90%;
}

.signup-password {
    border: 1px solid lightgray;
    border-bottom: 1px solid rgb(211, 211, 211, 0.5);
    align-self: center;
    height: 45px;
    width: 90%;
}

.confirm-password {
    border: 1px solid lightgray;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
    width: 90%;
}

.error-container {
    margin-top: 2%;
    margin-left: 5%;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}

.submit-button {
    align-self: center;
    border: none;
    margin-top: 6%;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 15;
    font-weight: bold;
}
