.add-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    width: 450px;
    padding: 10px;
    font-style: sans-serif;
}

.cancel {
    align-self: flex-start;
}

.add-spot-form-container {
    width: 90%;
}

.add-spot-header {
    align-self: flex-start;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
}

.h1 {
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.add-spot-errors {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.location-div {
    width: 100%;
}

.address-div {
    width: 100%;
}

.location-div2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.city {
    font-style: sans-serif;
    width: 100%;
    height: 5%;
}

.state {
    width: 49%;
    height: 5%;
}

.country {
    width: 49%;
    height: 5%;
}

.lat-long-div {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.lat {
    width: 49%;
    height: 10%;
}

.long {
    width: 49%;
    height: 5%;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.price-field {
    width: 100%;
    height: 5%;
}

.edit-spot-inputs {
    align-self: flex-start;
    height: 20;
    width: 100%;
    margin-bottom: 5px;
}

.textbox {
    height: 20%;
    width: 100%;
}

.add-spot-button-div {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-spot-submit {
    margin-top: 20px;
    height: 35px;
    width: 60%;
    border: none;
    border-radius: 20px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
}
