.add-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 490px;
    width: 450px;
    padding: 10px;
    font-family: sans-serif;
}


.add-spot-form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-style: sans-serif;
}

.add-spot-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 15px;
    margin-bottom: 15px;
    font-style: sans-serif;
    gap: 32%;
}

.add-spot-cancel {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-spot-title {
    font-style: sans-serif;
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-spot-errors {
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#name-field {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid rgb(211, 211, 211, 0.1);
}

.location-div {
    width: 100%;
}

.address-div {
    width: 100%;
}

.location-div2 {
    display: flex;
    flex-wrap: wrap;
}

.city {
    width: 100%;
    height: 5%;
}

.state {
    width: 50%;
    height: 5%;
}

.country {
    width: 50%;
    height: 5%;
}

.lat-long-div {
    display: flex;
}

.lat {
    width: 50%;
    height: 5%;
}

.long {
    width: 50%;
    height: 5%;
}

.price-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.price-field {
    width: 100%;
    height: 5%;
}

.edit-spot-inputs {
    font-family: sans-serif;
    align-self: flex-start;
    height: 40px;
    width: 100%;
    border: 1px solid rgb(211, 211, 211, 1);
}

.textbox {
    height: 20%;
    width: 100%;
    border: 1px solid rgb(211, 211, 211, 1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.add-spot-button-div {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-spot-submit {
    font-style: sans-serif;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
    font-size: 15;
    font-weight: bold;
}
