.user-spots-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    width: 100%;
}

.user-spots-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.ushead1 {
    padding-top: 30px;
}

.listing-mid-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.add-spot-button {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 14;
    font-weight: bold;
}

.user-spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    padding: 0 5%;
    padding-top: 2%;
}


.listings-spot-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 320px;
    height: 480px;
    padding: 0 10px;
    font-family: sans-serif;
    cursor: pointer;
}

.listing-details {
    height: 85%;
    margin: 0;
}

.listing-name {
    font-size: 18;
    margin: 0;
    margin-bottom: 5px;
}

.listing-images {
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.listing-body {
    display: flex;
    justify-content: space-between;
}

.listing-price {
    font-weight: bold;
}

.l-p {
    margin: 0;
    margin-top: 10;
    font-size: 14px;
}

.edit-location {
    font-weight: bold;
}

.edit-description {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 15%;
    width: 98%;
    font-size: 12;
    font-family: sans-serif;
    overflow-wrap: break-word;
}

.listing-avgRating {
    margin: 0;
    margin-top: 10;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    width: 100%;
    gap: 5px;
}

.edit {
    height: 50%;
    width: 100%;
    border: none;
    border-right: white;
    border-radius: 10px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
    font-size: 14;
    font-weight: bold;
}

.delete {
    height: 50%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
    font-size: 14;
    font-weight: bold;
}
