.Add-Review {
    border: none;
    height: 30px;
    width: 12%;
    border-radius: 20px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
}

.review-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 240px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
}

.cancel-button {
    align-self: flex-start;
    padding: 0;
    cursor: pointer;
}

.review-form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
    gap: 60px;
    padding-bottom: 10px;
}

.review-errors-div {
    width: 98.5%;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.review-title {
    margin: 0;
}


.star-container * {
    float: right;
}

.star-container {
    align-self: flex-start;
}

.star-inputs {
    display: none;
}

.star-inputs:checked~label {
    color: rgb(227, 28, 95);
}

.star-label {
    font-size: 22px;
}

.review-div {
    display: flex;
    justify-content: center;
}



.Submit-Review {
    border: none;
    margin-top: 30px;
    height: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
}
