.spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 490px;
    width: 450px;
    padding: 10px;
    font-family: sans-serif;
}


.edit-spot-form-container {
    width: 90%;
}

.edit-spot-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 15px;
    gap: 37%;
}

.edit-spot-cancel {
    cursor: pointer;
}

.edit-spot-title {
    font-size: 16px;
}

.spot-header {
    font-size: x-large;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

#spot-name {
    font-size: 16px;
}

.edit-spot-errors {
    color: red;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
}

.location-div {
    width: 100%;
}

.address-div {
    width: 100%;
}


.price-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.price-field {
    width: 100%;
    height: 5%;
}

.edit-spot-buttons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.listing-submit {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
