.user-reviews-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    font-family: sans-serif;
}

.reviews-title {
    display: flex;
    justify-content: center;
    width: 86%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.user-review-header {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.spot-name {
    font-size: 17;
    margin: 0;
    margin-top: 10px;
}

.review-address {
    font-size: 14;
    margin: 0;
    margin-bottom: 10px;
}

.user-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.review-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 275px;
    padding: 0 10px;
    border: 1px solid lightgrey;
}

.review-rating {
    display: flex;
    justify-content: space-between;
}

.review-body {
    margin-top: 10px;
    height: 42%;
    overflow-wrap: break-word;
    font-size: 14;
}

.delete-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    row-gap: 5px;
}

.delete-review-button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 15;
    font-weight: bold;
}
