.Spots {
    display: flex;
    justify-content: space-evenly;

}

.Spot {

    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.images {
    height: 65%;
    width: 100%;
    border-radius: 20px;
}
