.all-spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    padding-top: 7%;
}

.spot-container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 320px;
    height: 400px;
    color: black;
}

.images {
    height: 65%;
    width: 100%;
    border-radius: 20px;
}


.spotsDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18;
}

.allSpotsP2 {
    display: flex;
    align-items: center;
}

.all-spots-star {
    padding-bottom: 3;
    padding-right: 3;
}


.price {
    font-weight: bold;
}
