.outer-spots-container {
    padding-top: 7%;
    width: 100%;
}

.all-spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    column-gap: 22px;
    font-family: sans-serif;
}

.spot-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    color: black;
    cursor: pointer;
}

.images {
    height: 68%;
    width: 100%;
    border-radius: 10px;
}


.spotsDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15;
}

.allSpotsP1 {
    font-weight: bold;
    margin-bottom: 0;
}

.allSpotsP2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.all-spots-star {
    font-size: 18px;
}

.allSpotsName {
    font-size: 15;
    margin: 0;
    color: grey;
}

.allSpotsP3 {
    font-size: 15;
    margin: 10px 0;
}

.price {
    font-weight: bold;
}
