.navBar {
    border: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.host-link {
    border: 1px solid;
    border-radius: 25%;
}
