.navBar {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}

.inner-nav-container {
    width: 88%;
    display: flex;
    align-items: center;
}

.home-container {
    width: 50%;
}

.sessionLinks {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.host-button {
    cursor: pointer;
}
