.navBar {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    font-family: sans-serif;
}

.inner-nav-container {
    width: 83.5%;
    display: flex;
    align-items: center;
}

.home-container {
    width: 50%;
}

#logo {
    height: 54px;
    width: 80px;
}

.sessionLinks {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.host-spot-login {
    font-size: 14;
    font-weight: bold;
    cursor: pointer;
    color: rgb(59, 59, 59);
}
