.become-a-host {
    font-size: 14;
    font-weight: bold;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 70px;
    font-family: sans-serif;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    gap: 7px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(211, 211, 211, 1);
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 45px;
    border: 1px solid rgb(211, 211, 211, 0.2);
    border-radius: 10px;
    padding: 15px 0px;
    background-color: white;
    width: 180px;
}

.profile-dropdown li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
}

.user-email {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.user-reviews-menu {
    padding-top: 5px;
    cursor: pointer;
}

.user-listings-menu {
    cursor: pointer;
}

.logout-button {
    margin-top: 7px;
    height: 25px;
    width: 153px;
    border: none;
    border-radius: 20px;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
}
