.login-form {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 520px;
    font-family: sans-serif;
}

/* on drop down menu */
.Login-menu {
    font-weight: bold;
}


.cancel {
    padding-top: 20px;
    cursor: pointer;
}

.header-div {
    display: flex;
    align-items: flex-start;
    height: 55px;
    width: 100%;
    gap: 35%;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    padding-left: 28px;
}

.h1-login {
    align-self: center;
    margin: 0;
    font-size: 18px;
}

.login-form-mid-header {
    display: flex;
    padding-left: 10px;
}

.h2 {
    margin-top: 28;
    padding-left: 18px;
    font-size: 22px;
}

.login-form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.login-errors-container {
    height: 60px;
    width: 99%;
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
}


.login {
    border: 1px solid lightgray;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    height: 47px;
    width: 100%;
}

.password {
    border: 1px solid lightgray;
    align-self: flex-start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 47px;
    width: 100%;
}


.login-button-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    row-gap: 15px;
}

.submit {
    border: none;
    align-self: flex-start;
    border-radius: 10px;
    height: 55%;
    width: 100%;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
    font-size: 15;
    font-weight: bold;
}

.demo-user {
    border: none;
    align-self: flex-start;
    border-radius: 10px;
    height: 55%;
    width: 100%;
    background-color: rgb(227, 28, 95);
    color: white;
    font-family: CirCircular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
    font-size: 15;
    font-weight: bold;
}
